In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('../../data/cleaned/cleaned_survey_data.csv')
data.head()

,timestamp,peou_navigation_1,peou_navigation_2,peou_learning_1,peou_learning_2,peou_instructions_1,peou_instructions_2,peou_response_1,peou_response_2,peou_error_1,...,prof_jobless,prof_self_employed___entrepreneur,prof_student,prof_unemployed,education_encoded,opi_purchased?,op_None,fabr_None,gds_None,sos_automobile_None
0,2023-08-02 23:59:11.684,4,4,4,4,4,4,4,3,4,...,0,0,0,0,4,1,0,0,0,0
1,2023-08-03 00:04:13.800,4,3,4,4,3,3,3,3,3,...,0,0,0,0,4,1,0,0,0,0
2,2023-08-03 00:15:31.602,3,4,4,3,4,4,4,3,4,...,0,0,0,0,4,1,0,0,0,0
3,2023-08-03 00:20:49.096,4,3,2,3,3,2,2,2,1,...,0,0,0,0,6,1,0,0,0,0
4,2023-08-03 00:23:52.006,3,4,4,4,4,3,3,4,4,...,0,0,0,0,4,1,0,0,0,0

In [4]:
peou_columns = [col for col in data.columns if col.startswith('peou_')]
print(peou_columns)

['peou_navigation_1', 'peou_navigation_2', 'peou_learning_1', 'peou_learning_2', 'peou_instructions_1', 'peou_instructions_2', 'peou_response_1', 'peou_response_2', 'peou_error_1', 'peou_error_2']

In [16]:
new=data[peou_columns]
new['opi_purchased?']=data['opi_purchased?']
new

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16048\334268504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['opi_purchased?']=data['opi_purchased?']

,peou_navigation_1,peou_navigation_2,peou_learning_1,peou_learning_2,peou_instructions_1,peou_instructions_2,peou_response_1,peou_response_2,peou_error_1,peou_error_2,opi_purchased?
0,4,4,4,4,4,4,4,3,4,3,1
1,4,3,4,4,3,3,3,3,3,3,1
2,3,4,4,3,4,4,4,3,4,4,1
3,4,3,2,3,3,2,2,2,1,4,1
4,3,4,4,4,4,3,3,4,4,4,1
...,...,...,...,...,...,...,...,...,...,...,...
820,3,3,3,3,3,3,3,3,3,3,1
821,3,3,3,3,3,3,3,3,3,3,1
822,3,3,3,3,3,3,3,3,3,3,1
823,3,3,3,3,3,3,3,3,3,3,1
824,3,3,3,3,3,3,3,3,3,3,1