In [1]:
import pandas as pd
import numpy as np

In [10]:
data=pd.read_csv('../../data/cleaned/cleaned_survey_data.csv')
data.head()

,timestamp,peou_navigation_1,peou_navigation_2,peou_learning_1,peou_learning_2,peou_instructions_1,peou_instructions_2,peou_response_1,peou_response_2,peou_error_1,...,prof_jobless,prof_self_employed___entrepreneur,prof_student,prof_unemployed,education_encoded,opi_purchased?,op_None,fabr_None,gds_None,sos_automobile_None
0,2023-08-02 23:59:11.684,4,4,4,4,4,4,4,3,4,...,0,0,0,0,4,1,0,0,0,0
1,2023-08-03 00:04:13.800,4,3,4,4,3,3,3,3,3,...,0,0,0,0,4,1,0,0,0,0
2,2023-08-03 00:15:31.602,3,4,4,3,4,4,4,3,4,...,0,0,0,0,4,1,0,0,0,0
3,2023-08-03 00:20:49.096,4,3,2,3,3,2,2,2,1,...,0,0,0,0,6,1,0,0,0,0
4,2023-08-03 00:23:52.006,3,4,4,4,4,3,3,4,4,...,0,0,0,0,4,1,0,0,0,0

In [11]:
fabr_cols = [col for col in data.columns if col.startswith('fabr_')]
print(fabr_cols)

['fabr_', 'fabr_amanthe', 'fabr_carlo_clothing', 'fabr_chenara_dodge', 'fabr_didn’t_used', 'fabr_gflock', 'fabr_kynd_fashion', 'fabr_kelly_felder', 'fabr_moods', 'fabr_moose', 'fabr_nills', 'fabr_nolimitlk___gflocklk', 'fabr_noorareedlk', 'fabr_s&s', 'fabr_spring_and_summer', 'fabr_tharshana_and_insta_shops', 'fabr_zigzaglk', 'fabr_carnage', 'fabr_dsi', 'fabr_fashionbuglk', 'fabr_kaprukacom_fashion', 'fabr_midnightdivascom', 'fabr_mimosa', 'fabr_odellk', 'fabr_thilakawardanalk', 'fabr_None']

In [13]:
print(data['fabr_s&s'].value_counts())
print(data['fabr_spring_and_summer'].value_counts())

fabr_s&s
0    823
1      2
Name: count, dtype: int64
fabr_spring_and_summer
0    784
1     41
Name: count, dtype: int64

In [14]:
data["fabr_spring_and_summer"]=data['fabr_s&s'] | data['fabr_spring_and_summer']
print(data['fabr_spring_and_summer'].value_counts())

fabr_spring_and_summer
0    782
1     43
Name: count, dtype: int64

In [15]:
data=data.drop(columns=['fabr_s&s'],axis=1)

In [17]:
gds_cols = [col for col in data.columns if col.startswith('gds_')]
print(gds_cols)

['gds_', 'gds_cargillis_food_city', 'gds_cargillsonlinecom', 'gds_glomark', 'gds_keels', 'gds_arpicolk', 'gds_cinnamonhotelcom', 'gds_glomarklk', 'gds_keellssuperlk', 'gds_pickmefoodscom', 'gds_ubereatscom', 'gds_None']

In [19]:
print(data['gds_cargillis_food_city'].value_counts())
print(data['gds_cargillsonlinecom'].value_counts())
print(data['gds_keellssuperlk'].value_counts())
print(data['gds_keels'].value_counts())

gds_cargillis_food_city
0    823
1      2
Name: count, dtype: int64
gds_cargillsonlinecom
0    823
1      2
Name: count, dtype: int64
gds_keellssuperlk
1    556
0    269
Name: count, dtype: int64
gds_keels
0    823
1      2
Name: count, dtype: int64

In [20]:
data["gds_cargillis_food_city"]=data['gds_cargillis_food_city'] | data['gds_cargillsonlinecom']
print(data['gds_cargillis_food_city'].value_counts())

gds_cargillis_food_city
0    821
1      4
Name: count, dtype: int64

In [21]:
data=data.drop(columns=['gds_cargillsonlinecom'],axis=1)

In [23]:
data.shape

(825, 135)

In [22]:
data["gds_keellssuperlk"]=data['gds_keellssuperlk'] | data['gds_keels']
print(data['gds_keellssuperlk'].value_counts())

gds_keellssuperlk
1    556
0    269
Name: count, dtype: int64

In [24]:
data=data.drop(columns=['gds_keels'],axis=1)

In [25]:
data.to_csv('../../data/cleaned/cleaned_survey_data.csv', index=False)