# Descriptive Analysis

In this section, we will perform a descriptive analysis of the dataset. Descriptive analysis involves summarizing and visualizing the data to understand its main characteristics. This includes exploring the distribution of variables, identifying patterns, and gaining insights that can guide further analysis. 

We will use Python libraries such as `pandas` for data manipulation and `matplotlib` or `seaborn` for visualization. This step is crucial for understanding the structure and quality of the data before proceeding with more advanced analyses.

In [2]:
import pandas as pd
import numpy as np
import os
import sys
import matplotlib.pyplot as plt
import seaborn as sns

Load Data

In [3]:
def load_data(file_path):
    """
    Load the dataset from a file path
    """
    df = pd.read_csv(file_path)
    print(f"Data loaded with {df.shape[0]} rows and {df.shape[1]} columns")
    return df

# Load data
df = load_data('../../data/cleaned/cleaned_survey_data.csv')

Data loaded with 825 rows and 137 columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Columns: 137 entries, timestamp to sos_automobile_None
dtypes: int64(136), object(1)
memory usage: 883.1+ KB

In [6]:
df.head()

,timestamp,peou_navigation_1,peou_navigation_2,peou_learning_1,peou_learning_2,peou_instructions_1,peou_instructions_2,peou_response_1,peou_response_2,peou_error_1,...,prof_jobless,prof_self_employed___entrepreneur,prof_student,prof_unemployed,education_encoded,opi_purchased?,op_None,fabr_None,gds_None,sos_automobile_None
0,2023-08-02 23:59:11.684,4,4,4,4,4,4,4,3,4,...,0,0,0,0,4,1,0,0,0,0
1,2023-08-03 00:04:13.800,4,3,4,4,3,3,3,3,3,...,0,0,0,0,4,1,0,0,0,0
2,2023-08-03 00:15:31.602,3,4,4,3,4,4,4,3,4,...,0,0,0,0,4,1,0,0,0,0
3,2023-08-03 00:20:49.096,4,3,2,3,3,2,2,2,1,...,0,0,0,0,6,1,0,0,0,0
4,2023-08-03 00:23:52.006,3,4,4,4,4,3,3,4,4,...,0,0,0,0,4,1,0,0,0,0